/* Кнопки */
.close-btn,
.close-btn-reg {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
}

.promo__button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #0f2336;
    background-color: #00cccc;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.promo__button:hover {
    background-color: #00cccc;
}

/* Кнопка регистрации в шапке */
.header__button {
    padding: 10px 20px;
    background-color: #0f2336;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.header__button:hover {
    background-color: #00cccc;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #00cccc;
    border-radius: 14px;
    background-color: #00cccc;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #0f2336;
}

.button--login {
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #0F2336;
}

.buttons {
    display: flex;
    gap: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #00cccc;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
}

.btn-login:hover {
    background-color: #00cccc;
}

.btn-cancel {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 1px solid #00cccc;
    color: #00cccc;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
}

.btn-cancel:hover {
    background-color: #00cccc;
    color: #fff;
}

.btn-register {
    width: 100%;
    padding: 12px;
    background-color: #00cccc;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
}

.btn-register:hover {
    background-color: #00cccc;
}

/* Кнопки */
.header__button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header__button.button--login {
    background-color: #0f2336;
    color: #fff;
}

.header__button.button--login:hover {
    background-color: #00cccc;
}


@media (max-width: 768px) {
    .buttons {
        display: grid;
        gap: 10px;
    }
}