

/* Список карточек */
.card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}

.card__item {
    flex: 1 1 calc(25% - 20px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #dfdfdf;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #0F2336;
}

.card__icon {
    display: block;
    margin-bottom: 15px;
    width: 24px;
    height: auto;
}

.card__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 10px;
    line-height: 26px;
}

.card__description {
    font-size: 12px;
    color: #576D81;
    line-height: 1.5;
}


