/* Основные стили для секции стоимости занятий */
.cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0f233617; 
}


/* Контейнер с информацией о стоимости */
.cost__photo {
    max-width: 50%;
    text-align: left;
    padding: 20px;
}

.cost__image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.cost__title {
    font-size: 2rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 20px;
}

.cost__description {
    font-size: 1.25rem;
    color: #576D81;
    line-height: 1.6;
    margin-bottom: 20px;
}

