/* Кнопки */
.header__button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header__button.button--login {
    background-color: #0f2336;
    color: #fff;
}

.header__button.button--login:hover {
    background-color: #00cccc;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .header {
        display: grid;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .header__nav {
        order: 2;
        width: 100%;
        margin-top: 10px;
    }

    .header__list {
        justify-content: flex-start;
    }

    .header__phone {
        margin-top: 10px;
    }
}
/* Кнопка */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #0f2336;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #fff;
}

/* Адаптивность */
@media (max-width: 768px) {
    .section__cost {
        flex-direction: column;
        text-align: center;
    }

    .reviews__image {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .cost__photo {
        max-width: 100%;
    }

    .cost__title {
        font-size: 1.75rem;
    }

    .cost__description {
        font-size: 1rem;
    }

    .cost__image {
        max-width: 80%;
    }
}

/* Кнопка регистрации в шапке */
.header__button {
    padding: 10px 20px;
    background-color: #0f2336;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.header__button:hover {
    background-color: #00cccc;
}

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #0f2336;
    border: 1px solid #00cccc;
    border-radius: 14px;
    background-color: #00cccc;
}
.button--login {
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #0F2336;
}

/* Стиль скрытого модального окна с прозрачностью */
.login-popup {
    display: none; /* Начальное состояние - скрыто */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Плавный переход для изменения прозрачности */
}

/* Когда окно будет отображаться */
.login-popup.show {
    display: flex;
    opacity: 1; /* Сделать видимым */
}

.popup-content {
    background: #fff;
    padding: 40px;
    border-radius: 24px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

h2 span {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

form {
    font-family: 'Montserrat', sans-serif;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #9196a166;
    border-radius: 16px;
    font-size: 16px;
    height: 50px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #00cccc;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
}

.btn-login:hover {
    background-color: #00cccc;
}

.btn-cancel {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 1px solid #00cccc;
    color: #00cccc;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
}

.btn-cancel:hover {
    background-color: #00cccc;
    color: #fff;
}

.no-account {
    margin-top: 15px;
    font-size: 18px;
    color: #00cccc;
    cursor: pointer;
    border-bottom: 1px dashed #00cccc;
    max-width: max-content;
    margin: 0 auto;
}

/* Стиль скрытого модального окна для регистрации с прозрачностью */
.register-popup {
    display: none; /* Начальное состояние - скрыто */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Плавный переход для изменения прозрачности */
}

/* Когда окно будет отображаться */
.register-popup.show {
    display: flex;
    opacity: 1; /* Сделать видимым */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.btn-register {
    width: 100%;
    padding: 12px;
    background-color: #00cccc;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
}

.btn-register:hover {
    background-color: #00cccc;
}

.already-account {
    margin-top: 15px;
    font-size: 18px;
    color: #00cccc;
    cursor: pointer;
    border-bottom: 1px dashed #00cccc;
    max-width: max-content;
    margin: 0 auto;
}

.buttons {
    display: flex;
    gap: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.password-block {
    display: flex;
    gap: 22px;
}

@media (max-width: 768px) {
    .buttons {
        display: grid;
        gap: 10px;
    }

    .password-block {
        display: grid;
        gap: 10px;
    }

    .popup-content {
        background: #fff;
        padding: 15px;
        border-radius: 24px;
        width: 100%;
        max-width: 420px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}

.info-modal {
    text-align: left;
}