
@media (max-width: 1024px) {

    .container {
        padding: 0 40px;
    }
}


/* Мобильная адаптация */
@media (max-width: 768px) {
    .header {
        display: grid;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .header__nav {
        order: 2;
        width: 100%;
        margin-top: 10px;
    }

    .header__list {
        justify-content: flex-start;
    }

    .header__phone {
        margin: 0 auto;
        padding: 10px;
    }

    .buttons {
        display: grid;
        gap: 10px;
    }

    .promo {
        flex-direction: column;
        text-align: center;
    }

    .promo__content {
        max-width: 100%;
    }

    .promo__image {
        max-width: 80%;
        margin-top: 20px;
    }
    .card__list {
        align-items: center;
    }

    .card__item {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
    .private-lessons {
        flex-direction: column;
        text-align: center;
    }

    .private-lessons__image {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .private-lessons__photo {
        max-width: 100%;
    }

    .private-lessons__description {
        font-size: 1rem;
    }
    .private-lessons__title {
        font-size: 1.75rem;
    }
    .section__cost {
        flex-direction: column;
        text-align: center;
    }

    .reviews__image {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .cost__photo {
        max-width: 100%;
    }

    .cost__description {
        font-size: 1rem;
    }

    .cost__image {
        max-width: 80%;
    }
    .cost__title {
        font-size: 1.75rem;
    }
    .footer {
        padding: 15px;
    }

    .footer__logo {
        font-size: 1.25rem;
    }

    .footer__copy {
        font-size: 0.9rem;
    }

    .password-block {
        display: grid;
        gap: 10px;
    }
    .popup-content {
        background: #fff;
        padding: 15px;
        border-radius: 24px;
        width: 100%;
        max-width: 420px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}

