h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

h2 span {
    text-align: left;
}


.promo__title {
    font-size: 2rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 20px;
}

.promo__description {
    font-size: 1.25rem;
    color: #576D81;
    margin-bottom: 20px;
}


.section__title {
    font-size: 2rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 20px;
}

.section__description {
    font-size: 1.25rem;
    color: #576D81;
    margin-bottom: 30px;
}


.card__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 10px;
    line-height: 26px;
}

.card__description {
    font-size: 12px;
    color: #576D81;
    line-height: 1.5;
}


.private-lessons__title {
    font-size: 2rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 20px;
    line-height: 32px;
}

.private-lessons__description {
    font-size: 16px;
    color: #576D81;
    line-height: 1.6;
}

.cost__title {
    font-size: 2rem;
    font-weight: bold;
    color: #0F2336;
    margin-bottom: 20px;
}

.cost__description {
    font-size: 1.25rem;
    color: #576D81;
    line-height: 1.6;
    margin-bottom: 20px;
}


/* Адаптивность */
@media (max-width: 768px) {
    .private-lessons__title {
        font-size: 1.75rem;
    }
    .cost__title {
        font-size: 1.75rem;
    }
}