/* Подключение шрифтов */
@import "fonts.css";
/* Подключение основных стилей */
@import "base.css";
/*Подключение универсальных стилей */
@import "typography.css";
/* Подключение стилей относящихся к header */
@import "header.css";
/* Подключение стилей относящихся к footer */
@import "footer.css";
/* Подключение стилей относящихся к main */
@import "main.css";
@import "section.css";
@import "promo.css";
@import "card.css";
@import "price.css";
@import "private-lessons.css";
@import "reviews.css";
@import "cost.css";
@import "button.css";
@import "adaptibility.css";
@import "treners.css"; 
@import "applications.css";

/* Стиль скрытого модального окна с прозрачностью */
.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease; /* Плавный переход для изменения прозрачности */
}

/* Когда окно будет отображаться
.login-popup.show {
    display: flex;
    opacity: 1; /* Сделать видимым */


.popup-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px;
    border-radius: 24px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #9196a166;
    border-radius: 16px;
    font-size: 16px;
    height: 50px;
}

.no-account {
    margin-top: 15px;
    font-size: 18px;
    color: #00cccc;
    cursor: pointer;
    border-bottom: 1px dashed #00cccc;
    max-width: max-content;
    margin: 0 auto;
}

/* Скрываем контент до загрузки */
.content {
    display: none;
    }
    .preloader {
    padding-top: 5%; /* Отступ сверху */
    background: #fefefb; /* задаем фон при загрузке */
    transition: opacity 0.5s ease; /* Плавный переход для изменения
    прозрачности */
    text-align: center;/* центрируем текст */
    }
    .loader span {
    display: inline-block;/* располагаем элементы в строку */
    width: 20px;/* Ширина кругов */
    height: 20px;/* Высота кругов */
    border-radius: 100%;/* задаем круг */
    background-color:  #fefefb;/* Цвет кругов */
    margin: 35px5px;/* Отступы вокруг кругов */
    }
    .dot1 {
    animation: bounce 1s ease-in-out infinite;/* анимация для первой точки
    */
    }
    .dot2{
    animation: bounce 1s ease-in-out 0.33s infinite;/*анимация для второй
    точки с задержкой*/
    }
    .dot3 {
    animation: bounce 1s ease-in-out 0.66s infinite;/* анимация для
    третьей точки с задержкой */
    }
    /* Анимация bounce: */
    @keyframes bounce {
    0%,
    20%,
    50% {
    transform: translateY(0);/* круги на месте */
}
    10% {
        transform: translateY(-30px);/* круги поднимаются */
}
}